
/* Unique font for the header, form and the text inside the div: */
@font-face {
    font-family: "my-task-font";
    src: url(assets/fonts/Pangolin-Regular.ttf);
}

h1 {
    font-family: "my-task-font";
    text-align: center;
    font-size: 60px;
}

body {
    background-image: url(assets/images/page-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

form {
    font-family: "my-task-font";
    font-size: large;
    background-image: url(assets/images/form-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    border: 1px solid;
    padding: 10px;
    display: inline-block;
}

/* Position the inputs between the notebook lines and remove the borders: */
#taskDescriptionBox {
    border: none;
    margin-top: 5px;
}

#dateAndTimeBox {
    border: none;  
}

.btn {
    margin-top: 45px;
}

/* Position the sticky notes from left to right: */
#taskSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.task {
    font-family: "my-task-font";
    background-image: url(assets/images/notes.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 320px;
    height: 320px;
    position: relative; /* Access to the "X" button (when hovering) */
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    overflow: auto; /* Vertical scrollbar */
    animation: fadeIn 1s forwards; /* Fade in animation for the sticky note */
    opacity: 0;
}

/* Sticky note animation: */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.task-description {
    margin-top: 40px;
}

.task-date {
    padding-top: 180px;
    padding-right: 200px;
}

/* Remove button is unvisitable in that point: */
.clear {
    opacity: 0;
    top: 10px;
    right: 10px;
    z-index: 1;
}

/* Remove button is visitable when hovering: */
.clear:hover {
    opacity: 1;
}

.clear {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
}

.task-description {
    font-weight: bold;
    max-height: 240px; 
}

.task-date {
    margin-top: 5px;
}